.charsheet {

}

header {
    display: flex;
    align-items: stretch;
    align-content: stretch;
}

section.charname {
    border: 1px solid black;
    border-right: 0;
    padding: 5px 0;
    background-color: lightgray;
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 10px;
}

label.charname {
    text-transform: capitalize;
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
}

section.misc {
      width: 70%;
      border: 1px solid black;
      border-radius: 10px;
      padding-left: 1em
      padding-right: 1em
}
section.misc ul {
    padding: 10px 0px 5px 0px;
    display: flex;
    flex-wrap: wrap;
}
section.misc li {
    width: 33.33333%;
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
}
    
section.misc label{
    margin-bottom: 5px;
}

section.misc input{
    border: 0;
    border-bottom: 1px solid #ddd;
    /* text-align: center; */
}

main.form{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

section.attributes {
    display: flex;
    position: relative;
    margin-left: 2em;
    flex-direction: column;
    width: 70px;
    height: 80px;
    width: 100%;
    display: flex;
    /* flex-direction: row; */

    justify-content: space-between;;
}


div.label-container{
    position: relative;
    height: 30px;
    border: 1px solid black;
    border-left: 0;
    text-align: center;
}

div.label-container label{
    position: absolute;
    left: 0;
    top: 1px;
    transform: translate(0%, 50%);
    width: 100%;
    font-size: 8px;
}

div.label-container section {
    width: 32%;
    /* display: flex; */
    flex-direction: column;
}